@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-brand-black text-neutral-200 antialiased font-sans;
  }
}

@layer utilities {
  .text-gradient-red {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-white via-red-200 to-brand-red;
  }

  .delay-100 {
    animation-delay: 100ms;
  }
  .delay-200 {
    animation-delay: 200ms;
  }
  .delay-300 {
    animation-delay: 300ms;
  }
  .delay-400 {
    animation-delay: 400ms;
  }
  .delay-500 {
    animation-delay: 500ms;
  }

  .opacity-0-animate {
    opacity: 0;
  }
}
